
.main {

    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px, 300px));/* 3 equal-width columns */
    grid-template-rows: auto; /* auto-sized rows */
    grid-gap: 25px;
    row-gap: 40px; /* Gap between grid rows */
    margin-top: 20px;
    margin-left:100px;
    padding: 20px;
    /* Additional grid properties */
     /* Gap between grid items */
    justify-items: center; /* Center items horizontally
    align-items: center; /* Center items vertically */
    /* background-color: #2196F3; Blue background color */
    */
}

/* Grid item styles */
/* .main .grid-item {
    background-color: #f2f2f2;
    padding: 25px;
} */

.character-block{
    /* border:4px solid #000; */
   
}

.character-block img{
    width:250px;
    
    border-radius: 400px;
    
}
.character-block h3{
    font-size: 1.5rem;
    color: #ff6c26;
    /* margin-top: 10px; */
    
    text-align: center;
}

.character-block p{
    font-size: 1rem;
    color:#FFFFFF
    margin-top: 5px;
    text-align: center;
}