*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}

.navbar{
background-color:#1f2326;
justify-content:center;
align-items:center;
display:flex;
padding:0px;
height:20vh;
width: 100%;

}

.logo{
    padding:0px;
    margin:0px;
    margin-top:19px;

    position:absolute;
    top:0px;
    left:18px;
   /* background-color:#fff; */

}

.logo img{
    height:13vh;
    width:13vw;
    align:center;
}

.optioncontainer{
/* background-color:#acacac; */
display:flex;
/* position:absolute;

left:0px; */
transform:translate(-200px,0px);
/* height:20vh; */
}
.optioncontainer .element{
    /* margin-right:20px; */
    margin-right:30px;
    display:flex;
    flex-direction:column;
    align-items:center;
   
}

.optioncontainer svg{
    height:4vh;
    width:4vw;
    color:#ff6c26;
}

.name{
  
    font-weight:500;
    line-height: 5.5vh;
    color:#fffafa
}
.input-control{
margin-top:-20px;
position:absolute;
right:260px;
/* background-color:#acacac; */


}

.input-control input{
    height:6vh;
    width:23vw;
    border-radius:25px;
    padding-left:10px;
    outline:none;
    border:none;
    font-size:0.8rem;
    background-color:#ffffff;

}

.input-control button{
    height:6vh;
    width:6vw;
    border:none;
   
    border-radius:20px;
    position : relative;
    right : 60.5px;
    top : 0px;
 
    outline:none;
    background-color:#ffe270;
    color:#ff6c26;
    cursor: pointer;



}